<main class="flex flex-column align-items-center">
    <div [formGroup]="form" class="p-field flex gap-2">
        <div class="p-field flex gap-2">
            <p-dropdown [options]="currencies" formControlName="leftDrop"></p-dropdown>
            <p-inputNumber inputId="integeronly"  formControlName="leftInput"></p-inputNumber>
        </div>
        <div class="flex align-items-center">
            <p-button 
            (onClick)="replace()" 
            icon="pi pi-arrows-v"
            styleClass="p-button-rounded p-button-secondary p-button-text"
            class="replace-btn"
            ></p-button>
        </div>
        <div class="p-field flex gap-2">
            <p-inputNumber inputId="integeronly" formControlName="rightInput"></p-inputNumber>
            <p-dropdown [options]="currencies" formControlName="rightDrop"></p-dropdown>
        </div>
    </div>
    <p-button class="success" (onClick)="convertCurrencies()">Конвертувати</p-button>
</main>